@page "/todo"
@inherits demo1.ToDoComponent

<h1>My To Do List</h1>

<input type="text" bind="@NewItem" />
<button onclick="@AddItem">Add To Do</button>

<p id="itemAddedAlert" style="margin: 0; color: green;"></p>

<ul>
    @{
        foreach(var item in List)
        {
            <li>@item</li>
        }
    }
</ul>